.nav-button:hover {
  background: purple;
  color: #1aab8a;
}
.nav-button:before,
.nav-button:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  height: 2px;
  width: 0;
  background: yellow;
  transition: 400ms ease all;
}
.nav-button:after {
  right: inherit;
  top: inherit;
  left: 0;
  bottom: 0;
}
.nav-button:hover:before,
.nav-button:hover:after {
  width: 100%;
  transition: 800ms ease all;
}
.nav-button {
  background-color: #096e69;
  margin-right: 10px;
  border-radius: 5px;
}
.name {
  background-color: #096e69;
  width: 200px;
  font-weight: 700;
  font-size: x-large;
}
